<nav class="navbar navbar-static-top" role="navigation">
    <!-- Sidebar toggle button-->

    <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
            <!-- Messages: style can be found in dropdown.less-->
            <!-- User Account: style can be found in dropdown.less -->
            <li class="dropdown user user-menu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <img src="~/images/DP/dummy.png" class="user-image" alt="User Image" />
                    <span class="hidden-xs">UserName</span>
                </a>
                <ul class="dropdown-menu">
                    <!-- User image -->
                    <li class="user-header">
                        <img src="~/images/dummy.png" class="img-circle" alt="User Image" />
                        <p style="color: #000000;">
                           <!-- user name ahi avse -->
                        </p>
                    </li>
                    <!-- Menu Footer-->
                    <li class="user-footer">
                        <div class="pull-left">
                            <a class="btn btn-default btn-flat" data-toggle="modal" href="#ChangePic">Change Picture</a>
                        </div>
                        <div class="pull-right">
                            <Button ID="btnSignOut" Class="btn btn-default btn-flat"  OnClick="btnSignOut_Click">Sign Out</Button>
                        </div>
                    </li>
                </ul>
            </li>
            <!-- Control Sidebar Toggle Button -->

        </ul>
    </div>
</nav>
