<div class="row">
    <div class="col-md-12">
        <div class="row" id="PriChatDiv">
        </div>
        <textarea class="form-control" style="visibility: hidden;"></textarea>
        <!--/.private-chat -->
    </div>
</div>
